<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Info about Students food preferences</h1>
  <nav>
    <a href="/home">Home</a>
  </nav>
  <ul>
    <% students.forEach(element => { %>
      <li>
      <%= element.fname %> likes to eat <%= element.food %> when studying for a 
      <span class="major">
        <%= element.major %> degree 
      </span> 
      </li>
    <% }) %>
  </ul>
</body>
</html>